.bg {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    /* height: 100%; */
    overflow: auto;
    padding: 43px;
    background-color: #100e17;
    height: 742px;
}
    

  ion-col{
      color: white;
      font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
      font-style: normal;
      font-size: 2.5rem;
      font-weight: 700;
  }
  ion-button{
    --background: linear-gradient(90deg,#ff8a00,#e52e71);
    border-radius: 8px;
    margin: 0 .5rem;
    width: calc(100% - 150px);
    border: 4px solid white;
    /* height: 70px; */

}
ion-button:hover{
    --background: linear-gradient(90deg,#157aa8,#d80b56);
   
}



.layout{
    height: 320px;
    width: auto;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.16);
}
.imgestyle{
    width: 96%;height: 197px;
}
.more-details{
    --background: linear-gradient(90deg,#ff8a00,#e52e71);
    border-radius: 8px;
    margin: 0 .5rem;
    width: calc(100% - 150px);
    border: 4px solid white;
    margin-top: 24px;
    margin-left: 19%;
}
.total-div{
    margin: 39px 0px 0px 0px;
}

h1{
    color: white;
    text-align: center;
    font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bolder;
}

.card{
    height: auto;
    width: 305px;
    background-color: white;
    margin: 15px;
    border-radius: 10px
};
.card:active{
    height: auto !important;
           width: 310px !important; 
           --background: linear-gradient(90deg,#157aa8,#d80b56);
}


.input1{
    border-radius: 33px;
    height: 50px;
    width: 50%;
    font-size: 18px;
    text-align: center;
    color: black;
}